<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h1>All users</h1>

<table>
    <tr>
        <th> Id </th>
        <th> Name</th>
        <th> Lastname</th>
        <th> Age</th>
        <th> Department</th>
        <th> Operation </th>
    </tr>

    <tr th:each="user : ${allUser}" th:object="${user}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getLastname()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getDepartment()}"></td>

        <td>
            <a th:href="@{'edit?id=' + ${user.id}}">Update</a>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{'delete?id=' + ${user.id}}">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
</table>

<br>
<a href="/new">Create new user!</a>

</body>
</html>