<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new User</title>
</head>
<body>
<h1>Создание нового User'а</h1>

<form th:method="POST" th:action="@{/saveUser}" th:object="${user}">
    <div>
        <label for="name">Name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <br>
        <label for="lastname">Lastname: </label>
        <input type="text" th:field="*{lastname}" id="lastname"/>
        <br>
        <label for="age">Age: </label>
        <input type="text" th:field="*{age}" id="age"/>
        <br>
        <label for="department">Department: </label>
        <input type="text" th:field="*{department}" id="department"/>
        <br>
        <br/>
        <input type="submit" value="Create!"/>
    </div>
</form>
</body>
</html>